/* Resets and defaults */

@include establish-baseline();

body {
  color: palette(black);
  background-color: palette(white);
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

p {

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
