include _partials/_logo

.buttons-top

  ul.buttons-top__list

    li.buttons-top__list__item
      a(href='#')
        Get some ritmo<br>
        | in github

    li.buttons-top__list__item
      a(href='#')
        See a rhythmic<br>
        | demo
