header

  .navigation

      .navigation__mobile-menu__toggle

        span.navigation__mobile-menu__icon

      ul.navigation__menu

        li.navigation__menu__item(class="#{ current.path[0] == 'index' ? 'is-active' : '' }")
          a(href="/" alt="") Home

        li.navigation__menu__item(class="#{ current.path[0] == 'demo' ? 'is-active' : '' }")
          a(href="/demo" alt="") Demo

        li.navigation__menu__item
          a(href="#" alt="" target="blank") Github
