.logo__wrapper
  .logo__content
    img.logo__base-grid(src="/images/home/logo/logo_bg_grid.svg")
    img.logo__letter-r(src="/images/home/logo/logo_letter_r.svg")
    img.logo__letter-i(src="/images/home/logo/logo_letter_i.svg")
    img.logo__letter-t(src="/images/home/logo/logo_letter_t.svg")
    img.logo__letter-m(src="/images/home/logo/logo_letter_m.svg")
    img.logo__letter-o(src="/images/home/logo/logo_letter_o.svg")
    img.logo__sentence-top(src="/images/home/logo/logo_frase_top.svg")
    img.logo__sentence-bottom(src="/images/home/logo/logo_frase_bottom.svg")
