.about

  h1.ritmo-titles What is ritmo?

  p
    span RITMO
    |&nbsp;is a fork from Compass. It rules the vertical rhythm of the site based on the initial font size, managing the margins, paddings and line-height.<br><br> It keeps your site organized and structured on a coherent baseline grid. It uses&nbsp;
    span rem
    |&nbsp;unit by default but it can also use&nbsp;
    span em
    |&nbsp;or&nbsp;
    span px
    |&nbsp;values for measurement.
