.buttons-top

  ul.buttons-top__list

    li.buttons-top__list__item
      a(href='https://github.com/marzeelabs/ritmo' target="_blank")
        Get some ritmo<br>
        | in github

    li.buttons-top__list__item
      a(href='/demo')
        See a rhythmic<br>
        | demo
