.configurable#constants

  h1.ritmo-titles Constants

  h2.configurable__title $base-leader
  p The leader is the amount of whitespace in a line. It might be useful in your calculations.

  h2.configurable__title $base-half-leader
  p The half-leader is the amount of whitespace above and below a line. It might be useful in your calculations.
