.configurable#functions

  h1.ritmo-titles Functions

  h2.configurable__title ritmo
  code ritmo($lines, $font-size, $offset)
  p Calculate rhythm units.

  h2.configurable__title lines-for-font-size
  code lines-for-font-size($font-size)
  p Calculate the minimum multiple of rhythm units needed to contain the font-size.
