.configurable#mixins

  h1.ritmo-titles Mixins

  h2.configurable__title ritmo-baseline
  p Establishes a font baseline for the given font-size.

  h2.configurable__title ritmo-font-size
  p Adjust a block to have a different font size and line height to maintain the rhythm. $lines specifies how many multiples of the baseline rhythm each line of this font should use up. It does not have to be an integer, but it defaults to the smallest integer that is large enough to fit the font. Use $from-size to adjust from a font-size other than the base font-size.

  h2.configurable__title ritmo-leading
  p Adjust a block to have different line height to maintain the rhythm. $lines specifies how many multiples of the baseline rhythm each line of this font should use up. It does not have to be an integer, but it defaults to the smallest integer that is large enough to fit the font.

  h2.configurable__title ritmo-top
  p Apply leading whitespace. The $property can be margin or padding.

  h2.configurable__title ritmo-top-padding
  p Apply leading whitespace as padding.

  h2.configurable__title ritmo-top-margin
  p Apply leading whitespace as margin.

  h2.configurable__title ritmo-bottom
  p Apply trailing whitespace. The $property can be margin or padding.

  h2.configurable__title ritmo-bottom-padding
  p Apply trailing whitespace as padding.

  h2.configurable__title ritmo-bottom-margin
  p Apply trailing whitespace as margin.

  h2.configurable__title ritmo
  p Shorthand mixin to apply whitespace for top and bottom margins and padding.

  h2.configurable__title ritmo-margins
  p Shorthand mixin to apply whitespace for top and bottom margins.

  h2.configurable__title ritmo-paddings
  p Shorthand mixin to apply whitespace for top and bottom padding.

  h2.configurable__title ritmo-side-border
  p Apply a border and whitespace to any side without destroying the vertical rhythm. The whitespace must be greater than the width of the border.

  h2.configurable__title ritmo-top-border
  p Apply a leading border. $border-style and $width are deprecated and will be removed in a future version of Compass.

  h2.configurable__title ritmo-bottom-border
  p Apply a trailing border.

  h2.configurable__title ritmo-horizontal-borders
  p Apply both leading and trailing borders.

  h2.configurable__title ritmo-borders
  p Apply borders and whitespace equally to all sides.
