.support-menu(class="#{ current.path[0] == 'index' ? '' : 'support-menu--remove' }")

  a(href="#configvars") Variables

  a(href="#constants") Constants

  a(href="#functions") Functions

  a(href="#mixins") Mixins
