.support-menu(class="#{ current.path[0] == 'index' ? '' : 'support-menu--remove' }")

  a.support-menu__item(href="#configvars") Variables

  a.support-menu__item(href="#constants") Constants

  a.support-menu__item(href="#functions") Functions

  a.support-menu__item(href="#mixins") Mixins
